

/*******BASE STYLES*******/

body {
  font-family: 'Muli', sans-serif;
  font-family: 'Ovo', serif;
  font-size: 16px;
}

h3 {
  font-size: 2.25em;
  text-align: center;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

/***** GRID *****/

.full-width {
  margin: auto;
  width: 100%;
}

.half-width {
  float: left;
  width: 50%;
}

.third-width {
  float: left;
  width: 33%;
}

/*******HEADER*******/

header {
  background: url('../img/plant-white-space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

h1 {
  display: block;
  float: left;
  color: black;
  text-decoration: none;
  font-size: 3em;
  padding: 5% 5% 0 5%;
  text-align: left;
  margin: 0;
}

#logo h2 {
  clear: both;
  font-size: 2.25em;
  margin: 0;
  padding-left: 10%;
}

#hero-right h2 {
  clear: both;
  font-size: 2.25em;
  margin: 0;
  padding: 15% 5%;
  text-align: right;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  overflow: hidden;
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.menu li a {
  display: block;
  padding: 10px 10px;
  margin-right: 5%;
  font-size: 1.125em;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 10% 5%;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 36px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 10px;
}

.menu-icon .navicon:after {
  top: -10px;
}

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/*******PORTFOLIO*******/

#portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

#portfolio .content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 90%;
  padding: 0;
  text-align: center;
}

#portfolio .content-wrapper {
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 10px;
}

#portfolio h3 {
  padding-top: 0;
}


#unplugged, #magic8ball, #lolcatclock, #rpickings, #jausten {
  margin: 0;
  width: 100%;
  padding: 20px 0 5px 0;
}

#portfolio h4, h5 {
  margin: 0;
}

.content-wrapper a {
  color: black;
  text-decoration: none;
}


/*******ABOUT ME*******/

#about {
  background-color: #93B793;
  height: 650px;
}


#about h3 {
  padding-top: 5%;
}


#selfphoto {
  display: block;
  margin: auto;
  max-width: 50%;
  border: 5px solid black;
  margin-top: 10%;
}

#about p {
  padding-right: 15%;
  text-align: left;
}

#about {
  background-color: #93B793;
  height: 650px;
}

#about h3 {
  padding-top: 5%;
}

#selfphoto {
  display: block;
  margin: auto;
  max-width: 50%;
  border: 5px solid black;
  margin-top: 10%;
}

#about p {
  padding-right: 15%;
  text-align: left;
}

/*******CONNECT*******/

#connect {
  background-color: #C7C9C8;
  height: 450px;
  text-align: center;
}

#connect .third-width {
  padding-top: 5%;
}

#connect h3 {
  margin: auto 0;
  padding-top: 5%;
}

#connect h5 {
  padding-top: 15%;
}

#connect ul li{
  display: inline-block;
}

#connect ul li a {
  padding-right: 25px;
}

/*------- Responsive Styles -------*/

@media only screen and (min-width: 1200px) {
  /* Desktop styles */

  .menu {
    display: inline-block;
    float: right;
    padding: 5% 5%;
    max-height: none;
  }

  .menu li{
    display: inline-block;
  }

  .menu li a {
    color: black;
    font-size: 18px;
    padding-left: 25px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .menu li a:hover {
    color: white;
  }

  .menu-icon {
    display: none;
  }

  #portfolio .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
  }

  #portfolio .content .content-wrapper:nth-child(2n) {
    flex-flow: row-reverse nowrap;
  }

  #portfolio .content-wrapper a {
    width: 100%;
  }
  #portfolio .content-wrapper div {
    width: 100%;
  }


  .content-wrapper figure {
    height: 400px;
    width: 500px;
    overflow: hidden;
  }

  .content-wrapper figure img {
    height: auto;
    width: 500px;
    padding: 0;
  }


}
