

/*******BASE STYLES*******/

body {
  font-family: 'Muli', sans-serif;
  font-family: 'Ovo', serif;
}

h3 {
  font-size: 36px;
  text-align: center;
}


/***** GRID *****/

.full-width {
  margin: auto;
  width: 100%;
}

.half-width {
  float: left;
  width: 50%;
}

.third-width {
  float: left;
  width: 33%;
}

/*******HEADER*******/

header {
  background: url('../img/plant-white-space.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
}

h1 {
  font-size: 40px;
  padding: 5%;
  text-align: left;
}

h2 {
  clear: both;
  font-size: 36px;
  padding: 25% 5%;
  text-align: center;
}

nav {
  float: right;
  padding: 5% 5%;
}

nav ul li{
  display: inline-block;
}

nav ul li a {
    color: black;
    font-size: 18px;
    padding-left: 25px;
    text-decoration: none;
    text-transform: uppercase;
}



/*******PORTFOLIO*******/

#portfolio {
  height: 2100px;
}

#portfolio .full-width {
  height: 19%;
}

#portfolio .half-width {
  height: 100%;
}

#portfolio h3 {
  padding-top: 0;
}

#unplugged, #magic8ball, #lolcatclock, #rpickings, #jausten {
  display: block;
  margin: auto;
  width: 78.6%;
}

#hmanifesto {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 90%;
  width: auto;
}

#portfolio p {
  padding-right: 15%;
}


/*******ABOUT ME*******/

#about {
  clear: both;
  background-color: #6E9075;
  height: 650px;
}


#about h3 {
  padding-top: 5%;
}

#selfphoto {
  display: block;
  margin: auto;
  max-width: 50%;
}

#about p {
  padding-right: 15%;
  text-align: left;
}



/*******CONNECT*******/

#connect {
  background-color: #5B6057;
  height: 450px;
  text-align: center;
}

#connect .third-width {
  padding-top: 5%;
}

#connect h3 {
  margin: auto 0;
  padding-top: 5%;
}

#connect h5 {
  padding-top: 20%;
}

#connect ul li{
  display: inline-block;
}

#connect ul li a {
  padding-right: 25px;
}
